
.main {
    color: slategrey;
    padding: 10%;
}

.main .subtext {
    text-align: center;
}

.gold {
    color: goldenrod;
}

#welcome-header {
    text-align: center;
}

.font-formal {
    font-family: 'Petit Formal Script', cursive;
}

.font-lora {
    font-family: 'Lora', serif;
}

.font-cinzel {
    font-family: 'Cinzel', serif;
}

#map-frame {
    text-align: center;
}

#rsvpform {
    text-align: center;
}

#rsvpform input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid slategray;
    width: 75%;
    color: slategray;
    margin-top: 10px;
    font-size: 14pt;
    font-family: 'Cinzel', serif;
}

#rsvpform input[type="submit"] {
    background-color: slategray;
    width: 50%;
    border: 1px solid;
    margin: 20px;
    color: white;
    cursor: pointer;
}