#names {
    font-family: Arial, Helvetica, sans-serif;
    color: #2F6D3A;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 50%;
}

#giftee {
    color: #C84747;
    font-weight: 700;
    font-size: 48pt
}

html {
    background-color: #FDFCF9;
}