html, body {
    height: 100%;
    margin: 0;
    background-color: #FDFCF9;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #2F6D3A;
}

#names {
    text-align: center;
    width: 100%;
}

#giftee {
    color: #C84747;
    font-weight: 700;
    font-size: 48pt;
}
