
body, html {
	font-family: -apple-system, 'Open Sans', sans-serif;
	color: snow;
	height: 100%;
	width: 100%;
}

html {
	background-color: #91a8d0;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	z-index: 1000;
}

#canvas {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.main-content h1 {
	margin-bottom: 4px;
}

.main-content .subtext {
	margin-top: 0;
	padding-bottom: 4px;
	border-bottom: 2px solid gray;
	font-weight: lighter;
}

.main-content {
	text-align: center;
	display: inline-block;
}

.main-content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-content ul li {
	display: inline;
}

.main-content ul li a {
	color: white;
	font-size: 11pt;
}

.main-content ul li a:hover {
	color: lightgray;
}
